<!DOCTYPE html>
<html>
    <header>
        <title>Contact reveive message</title>
    </header>
    <body>
        <p>Your have recievd a message fomr the app site contact form, from <%= "#{ @name }, #{ @email }. " %> </p>
        <p><%= @body %></p>
    </body>
</html>