.job-title-icon {
    
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color:#337ab7;
    color:white;
    display:inline-block;
    border-radius:5px;
}
//User profile index  styles
.well.user-description {
    background:green;
    color:white;
}
.well.user-contact {
    background:#2E88FF;
    color:white;
}

.well.white-bg {
    background:#fff;
}